@import "tailwindcss";

:root{
  --font-default: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

::-webkit-scrollbar{
  display: none;
  width: 0px;
}

*{
  font-family: var(--font-default);
}

#canvas{
  background-image: url('/public/images/foto.jpg');
  background-position: center;
  background-size: cover;
}